body {background-color: #8BBACC;
	  color: #00668F}
.blurbtext {
	color:#ADE8FF;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 200;
	width: 70%;}
.maintext {
	color: #ADE8FF;
	font-size: 20px;
	font-weight: 800;
	width: 70%; 
	display: inline;
}
.assignmentrow1 {
	color:#ADE8FF;
	text-align:center;}
